snippet event "SAS event" !b
${1:ID}:
   #! name: ${2:NAME}
   #! params:
   #!  static:
   #!    - name: PLACEHOLDER
   #!  var:
   #!    - name: PLACEHOLDER
   summary: '${3:SUMMARY}'
   details: |
	   ${4:DETAILS}
   level: ${5:40}
$0
endsnippet
