[user]
	name = Alex Hockey
	email = alex.hockey@metaswitch.com
[color]
	ui = true
[push]
	default = nothing
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	smup = !git submodule update --init --recursive
  graph = !git log --graph --decorate
[merge]
	conflictstyle = diff3
[core]
	excludesfile = /home/alex/.gitignore_global
	editor = vim
[status]
[log]
  decorate = short
