[user]
	name = Alex Hockey
	email = alex.hockey@metaswitch.com
[color]
	ui = true
[push]
	default = upstream
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	up = "!git fetch --all -p; git merge --ff-only @{u}"
[merge]
	conflictstyle = diff3
[core]
	excludesfile = /home/alex/.gitignore_global
